.mainContent {
  flex: 1; /* so it expands to fill remaining space */
  background-color: #fbcfe8;
  padding: 1rem;
}

@media (width <= 991px) {
  .mainContent {
    padding: 16px;
  }
}

.currentClass {
  color: #000;
  margin-bottom: 60px;
  font-size: 48px;
}

@media (width <= 640px) {
  .currentClass {
    font-size: 32px;
  }
}
